* {
    margin: 0;
    padding: 0;
}




















#chatbot {
    width: 90%;
    background-color: #000 !important;
    color: #4cff15 !important;
    font-weight: bold;
}

#chatbot:hover {
    background-color: #030187 !important;
    color: #fff315 !important;
}

@media (max-width: 1000px) {
    .menu-toggle {
        display: flex;
    }

    .logo img {
        display: none;
    }

    .nav-items {
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #000;
        z-index: 999;
        display: none; /* Hide nav-items by default */
    }

    .nav-items.active {
        display: flex; /* Show nav-items when active class is present */
    }

    .sidebar {
        right: 0; /* Show sidebar when active */
    }
}





/* <!-- photography part --> */
.imagesphoto img {
    height: 20vh;
}

#gallerybut {
    background-color: black !important;
    color: aliceblue !important;
}

#gallerybut:hover {
    background-color: rgb(15, 99, 244) !important;
    color: rgb(255, 255, 255) !important;
}

#galleryphoto {
    font-family: "Seymour One", sans-serif;
    font-size: 3.5rem;
}

@media (max-width: 488px) {
    #galleryphoto {
        font-size: 1.8rem;
    }
}

/* <!-- end photography --> */
